.justify-content-center{justify-content:center!important}
.d-flex{display:flex!important}
.align-items-center{align-items:center!important}
.justify-content-center{justify-content:center!important}
.vh-100{height:100vh!important}
.text-center{text-align:center!important}
.display-1{font-size:calc(1.625rem + 4.5vw);font-weight:300;line-height:1.2}@media (min-width:1200px){.display-1{font-size:5rem}}
.fw-bold{font-weight:700!important}
.fs-3{font-size:1.75rem!important}
.text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important}
.lead{font-size:1.25rem;font-weight:300}
